.test {
    background-color: blue;
    color: white;
    font-size: 30px;
    text-align: center;
    width: 100px;
    height: 50px;

    border-style: solid;
    border-color: black;
    border-radius: 12px;

    margin-left: 250px;
    margin-top: 5px; 
    
    box-shadow: 2px 2px 3px black;
    
    position: relative;
    top: 220px;
    

}

.test:hover {
    color: orange;
}