.first {
    border-color: black;
    border-style: solid;
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 3px 10px 10px white;
    /* parent container not defined
    position: absolute; */
    position:absolute;
    margin-left: 75%;
}

.first:hover {
    border-color: orange;
    color: black;

}
.first:active {
    border-color: white;
    color: white;
}

.second {
    font-size: 16px;
    font-weight: bold;
}